main#paper {
    .imgs {
        .img {
            float: left;
            width: 35vw;
            margin-left: 5rem;
            p {
                margin-top: 2rem;
            }
            img {
                width: 35vw;
            }
        }
        text-align: center;
        
    }
}