main#paper {
    .imgs {
        .img {
            float: left;
            width: 35vw;
            margin-left: 5rem;
            p {
                margin-top: 2rem;
            }
            img {
                height: 40vh;
            }
        }
        padding: 1rem;
        height: auto;
        overflow: auto;
        text-align: center;
        display: inline-block;
        width: 100%;
    }

}