@import 'config';
@import 'menu';
@import 'mobile';
@import 'work';
@import 'github';

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-imge;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;

      &:after {
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }

  }
}

* {
  box-sizing: border-box;
}
/*
@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
*/
body {
  @include background;
  letter-spacing: normal;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  //font-family: 'San Francisco';
  //font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

// Heading
h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    //font-family: Roboto;
    background-color: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
   color: #fff;
   text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
  & {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
      &.about {
        margin-top: 5vh;
      }
    }
  }
  &#about {
    /*
    font-family: 'Roboto', sans-serif;;
    .lg-heading {
      font-family: Roboto;
    }
    */
  }
  
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'bio bio job1'
  'job2 job3 job4';
  grid-template-columns: repeat(3, 1fr);

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .physicist {
    grid-area: job1;
  }

  .programmer {
    grid-area: job2;
  }

  .maker {
    grid-area: job3;
  }

  .guitarist {
    grid-area: job4;
  }

  .job {
    background: rgba(lighten($primary-color, 5), $background-opacity);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    box-shadow: 5px 10px #444;
    h3 {

    }
    .link {
      text-align: right;
      margin-bottom: 0;
    }
  }

}

footer {
  text-align: right;
  margin-right: 10px;
}
